body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    transition: width 0.3s;
    overflow-x: hidden;
    z-index: 10;
}

.sidebar.expanded { 
    width: 200px;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 30px;
    /* background-color: lavenderblush; */
}

