*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background2{
    /* background-image:linear-gradient(rgba(188, 61, 61, 0.5), url("public/bg 1.jpeg")); */
    background-image: linear-gradient(rgba(23, 15, 93, 0.68) , rgba(9, 6, 101, 0.3)), url(https://res.cloudinary.com/dlkytw4he/image/upload/v1752865256/bg_1_vx7gxb.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
    height: 100vh;

}
.background{
    
    background-image: linear-gradient(rgba(23, 15, 93, 0.68) , rgba(9, 6, 101, 0.3)), url(https://res.cloudinary.com/dlkytw4he/image/upload/v1752865256/bg_1_vx7gxb.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px;
    
   

}



.row{
    
    background-color: white;

}

 

.bg{
    padding: 20px 10px;
    background-image: url(https://res.cloudinary.com/dlkytw4he/image/upload/v1752866252/bg_2_p0ykft.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 20px;
}

.bg-2{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 150px 50px;
    color: white;
}

@media (min-width:768px) {
    .form{
        height: 90vh;
        overflow-y: auto;
    }
    
}

.bg-col{
    background-color: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
}

@media (max-width:767.99px) {
    
.background2{
    padding: 150px 0px;
    height: 100vh;

}
.background{
    /* padding: 150px 0px; */
    height: 100vh;

}
}